.norms {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-container-lg);


  &__actions {
    display: flex;
    gap: 10px;

    &Group {
      border-radius: 10px;
      width: fit-content;
      border: 1px dashed rgba(0, 0, 0, 0.1);
    }
  }
}