.nav {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 0 20px;
}

.link {
  padding: 2px 11px;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid #0000001f;

  }
}