.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.link {
  padding: 2px 11px;
  border-bottom: 1px solid transparent;
  white-space: nowrap;

  &:hover {
    border-bottom: 1px solid #0000001f;
  }
}

.active {
  border-bottom: 1px solid #3d7bff;
  opacity: 0.9;
}