.loginInput {
    font-size: 14px;
    padding: 7px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;

    &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
}


.container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--gray);
    box-shadow: var(--box-shadow);
    width: 280px;
    padding: 15px 15px 0 15px;
}