.container {
  display: flex;
  gap: 20px 5px;
  flex-wrap: wrap;

  max-width: 1000px;

  & table {
    display: table;
    text-indent: initial;


    & td,
    & th {
      //   min-width: 10ch;
      white-space: nowrap;
      text-align: left;
    }

    & th {
      //   width: 70%;
      min-width: 4ch;
    }

    & tr {
      display: flex;

      padding: 10px;
    }

    &.mainNutrients {
      border: 1px solid rgb(204, 204, 204);

      & th {
        width: 7ch;
      }
    }

    &.misc {
      & th {
        width: 10ch;
      }

      border: 1px solid rgb(204, 204, 204);
    }

    &.VitaminsNotB {
      border: 1px solid rgb(204, 204, 204);

      & th {
        width: 3ch;
      }
    }

    &.vitaminsB {
      border: 1px solid rgb(204, 204, 204);

      & th {
        width: 5ch;
      }
    }

    &.minerals {
      border: 1px solid rgb(204, 204, 204);

      & th {
        width: 11ch;
      }
    }
  }
}

// .horizontal.container {
//   flex-direction: row;

//   & table {
//     & tr {
//       //   display: inline;
//       display: flex;
//       flex-wrap: nowrap;
//     }
//   }
// }