:root {
  --black: rgb(22, 21, 21);
  --gray: rgb(238, 238, 238);
  --box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  --border: 1px solid rgba(0, 0, 0, 0.1);


  --padding-container-lg: 20px 30px;
  --padding-container-md: 15px 20px;
  --padding-container-sm: 20px 30px;

  --box-shadow-sm: 0 10px 8px 0px rgba(64, 60, 67, 0.03);
}