@import 'constants';
@import 'mixins';
@import 'fonts';

html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.root {
  height: 100%;
}

body {
  height: 100%;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;

  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.modal-open {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: var(--color-black);
}

button {
  border: none;
  background: none;
  outline: none;
}

ul {
  list-style: none;
}

body[data-dark='true'] {
  color: rgb(153, 153, 153);
}