.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &Container {
    position: relative;
    margin: auto;
    min-width: 600px;
    min-height: 600px;
    border-radius: 10px;
    display: flex;
    background: rgb(252, 252, 252);

    z-index: 1;
  }

  &Overlay {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.05);
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  &Inner {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}