.container {
    position: relative;
    // display: block;
}



.label {
    padding: 10px 0 5px 0;
}



.medium {
    font-size: 16px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-top: 5px;

    &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }


}

.big {

    font-size: 17px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;

    &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    &::placeholder {
        color: #999;
        font-style: italic;
        font-size: 16px;
    }

}


.small {
    padding: 9px;
    border: none;
    border-radius: 4px;
    background: var(--gray);
    outline: none;
    font-size: 17px;
}