.normsEditor {
  max-height: 800px;
  padding-top: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__groupActions {
    display: flex;
    align-items: flex-end;
    gap: 40px;

    &NameInput {
      width: 200px;
    }
  }

  &__group {
    display: flex;
  }

  // &Norm {
  //   width: 200px;

  //   &__table {
  //     display: grid;
  //     grid-template-columns: 1fr 1fr;

  //   }

  //   &_selected &__table {
  //     background: #ebebeb;
  //   }

  // }
}